.contact {
  padding: 4rem 2rem;
    -background-image: url("../../public/images/Fondo2.jpg");
      background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  margin: 5%;
  
}
.contact-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 60px 40px;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.contact h2:hover{color: var(--accent-color);}

.contact p {
  font-size: 1.1rem;
  opacity: 0.9;
  margin-bottom: 50px;
  transition: color 0.3s ease, text-shadow 0.3s ease;
}
.contact p:hover {color: var(--accent-color);}

.contact .cta-button {
    display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  padding: 0.8rem 1.6rem;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background 0.3s ease;
}
.contact .cta-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 14px 26px;
  border-radius: 12px;
  WIDTH: 50vw;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-weight: 600;
  text-decoration: none;

  box-shadow: 0 10px 25px rgba(0, 120, 255, 0.35);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.contact .cta-button a:hover {
  background: var(--tertiary-color);
}
