.contact {
  padding: 4rem 2rem;
    -background-image: url("../../public/images/Fondo2.jpg");
      background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
}

.contact h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.contact p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
}

.contact .cta-button {
  padding: 0.8rem 1.6rem;
  background-color: #4cafef;
  border-radius: 8px;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  transition: background 0.3s ease;
}

.contact .cta-button:hover {
  background-color: #329add;
}
