/* HERO SECTION */
.mainContainer {
  display: flex;
  width: 85%;
  margin: auto;
  overflow: hidden;
  justify-content: space-evenly;
  align-items: center;
}

.hero-text h2 {
  color: var(--tertiary-color);
  font-size: 48px;
  font-family: "GADUGI";
  font-weight: 500;
}

.hero-text span {
  color: var(--primary-color);
  font-size: 48px;
  font-family: "GADUGI";
  font-weight: bold;
  line-height: 1.2;
}

.hero-text p {
  margin-top: 5px;
  font-family: "GADUGI";
  font-weight: 500;
  width: 40vw;
}

.hero-image img {
  width: 42vw;
}

.cta-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: var(--primary-color);
  padding: 30px 45px;
  border-radius: 8px;
  margin-top: 20px;
  font-size: 18px;
  font-family: "GADUGI";
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.811);
}

/* CLIENTS SECTION */
.clients {
  padding: 20px 0;
  background: #fff;
  text-align: center;
}

.clients ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.clients li {
  margin: 0 15px;
  font-size: 24px;
  font-weight: bold;
  color: #6e7d7b;
  letter-spacing: 0.1em;
  position: relative;
  font-family: "Montserrat";
}
.clients li:hover {
  font-size: xx-large;
}

/* SERVICES SECTION */

.services-section {
  padding: 50px 0;
  background: #fff;
}

.services-section h2 {
  font-size: 36px;
  margin-left: 10%;
  font-family: "GADUGI";
  font-weight: bold;
}

.services-section span {
  font-size: 36px;
  margin-left: 10%;
  color: #0b63ce;
  font-family: "GADUGI";
  font-weight: bold;
}

.services-cards {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.service-card {
  background: #f9f9f9;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.279);
  width: 30%;
  text-align: center;
}

.service-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
  font-family: "GADUGI";
  font-weight: bold;
  border-bottom: 1px solid;
}

.service-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
  font-family: "GADUGI";
}

/* LEARN-MORE SECTION */

.learn-more-button {
  display: inline-block;
  text-decoration: none;
  color: var(--primary-color);
  
  padding: 5px 30px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.453);
  font-family: "GADUGI";
  font-weight: bold;
}

.learn-more-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

.portfolio-button {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #0b63ce;
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-family: "GADUGI";
  font-weight: bold;
  margin-left: 5%;
}

.portfolio-button:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* ABOUT SECTION */

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  padding: 50px 0;
}

.about-text {
  width: 50%;
  margin-right: 8%;
  color: var(--tertiary-color);
}

.about-text h2 {
  margin-bottom: 20px;
  font-size: 36px;
  font-family: "GADUGI";
  font-weight: bold;
}

.about-text p {
  font-size: 18px;
  font-family: "GADUGI";
  font-weight: 500;
}

.about-image img {
  border-radius: 50%;
  width: 20vw;
  margin-left: 50%;
}

.about-text .cta-button {
  padding: 10px 20px;
  margin-top: 50px;
  font-size: 16px;
  border-radius: 5px;
}

/* TESTIMONIAL SECTION */

.testimonials-section {
  padding: 50px 0;
  
  text-align: center;
  position: relative;
  color: var(--tertiary-color);
}

.testimonials-section h2 {
  font-size: 36px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "GADUGI";
  font-weight: bold;
}

.testimonial-card {
  background: #fff;
  border-radius: 50px;
  padding: 60px 20px 20px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.303);
  display: inline-block;
  text-align: center;
  max-width: 650px;
  margin-bottom: 10px;
  position: relative;
  overflow: visible;
}
.testimonial-card {
  display: none;
}

.testimonial-card.active {
  display: inline-block;
}

.testimonial-image {
  width: 100px;
  height: 100px;
  margin: 0 auto 10px;
  border: 5px solid var(--primary-color);
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-image img {
  width: 100%;
  height: auto;
  display: block;
}

.testimonial-card h3 {
  font-size: 16px;
  margin-top: 40px;
  margin-bottom: 10px;
  color: #333;
  font-family: "GADUGI";
  font-weight: bold;
}

.testimonial-card p {
  font-size: 18px;
  font-family: "GADUGI";
  font-weight: 500;
  padding: 0 20px;
}

.nav-button {
  color: var(--primary-color);
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  margin: 0 10px;
}

.nav-button:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Responsive Styles */
@media (max-width: 768px) { /* Tablet view */
  .mainContainer {
    flex-direction: column;
    width: 100%;
  }
  .hero-text {
    text-align: center; 
  }
  .hero {
    flex-direction: column;
    padding: 30px 0;
  }
  .hero-text h2, .hero-text span {
    font-size: 36px;
    text-align: center;
  }
  .hero-text p {
    width: 100%;
    text-align: center;
  }
  .hero-image img {
    width: 80%;
  }
  .services-cards {
    flex-direction: column;
    align-items: center;
  }
  .service-card {
    width: 80%;
    margin-bottom: 20px;
  }
  .about {
    flex-direction: column;
    text-align: center;
  }
  .about-text {
    width: 80%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .about-image img {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 480px) { /* Mobile view */
  .hero-text {
    text-align: center; 
  }

  .hero-text h2, .hero-text span {
    font-size: 28px;
  }
  .hero-text p {
    font-size: 16px;
  }
  .hero-image img {
    width: 100%;
  }
  .cta-button {
    padding: 20px 30px;
    font-size: 16px;
  }
  .clients ul {
    flex-direction: column;
  }
  .clients li {
    margin-bottom: 10px;
  }
  .services-section h2, .services-section span {
    font-size: 28px;
    margin-left: 5%;
  }
  .services-cards {
    flex-direction: column;
    align-items: center;
  }
  .service-card {
    width: 90%;
    margin-bottom: 20px;
  }
  .about-text h2 {
    font-size: 28px;
  }
  .about-text p {
    font-size: 16px;
  }
  .about-image img {
    width: 60%;
  }
  .testimonials-section h2 {
    font-size: 28px;
  }
  .testimonial-card {
    width: 90%;
    padding: 40px 10px 10px;
  }
  .testimonial-card h3 {
    font-size: 14px;
  }
  .testimonial-card p {
    font-size: 16px;
  }
  .testimonial-image {
    width: 80px;
    height: 80px;
  }
  .nav-button {
    width: 30px;
    height: 30px;
  }
}
