@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@font-face {
    font-family: 'AGENCYFB';
    src: url('../../../public/fonts/AGENCYB.TTF') format('tff');
    font-weight: normal;
    font-style: bold;
}
@font-face {
    font-family: 'GADUGI';
    src: url('../../../public/fonts/gadugi-bold.ttf') format('tff');
    font-weight: normal;
    font-style: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --primary-color: #1F3A93;      /* Azul oscuro */
  --secondary-color: #5A8FD6;    /* Azul claro */
  --tertiary-color: #6A0DAD;     /* Púrpura */
  --quaternary-color: #000000;   /* Negro */
  --quinary-color: #808080;      /* Gris */
  --accent-color: #FF8C00;       /* Naranja */
}


body {
    line-height: 1.6;
}


